/******************************************* application styles *****************************************/

html, body
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
	font-family: Arial, Helvetica, sans-serif;
}

#demonstrate-panel
{
	display: block;
	height: 500px;
	border-color: lightgray;
	border-style: solid;
	border-radius: .3em;	
	border-width: 1px;
	overflow-y: scroll;
}

#log-panel
{
	display: block;
	height: 500px;
	text-align: left;
	border-color: lightgray;
	border-style: solid;
	border-radius: .3em;	
	border-width: 1px;
	overflow-y: scroll;
}

#info-div
{
	display: block;
	height: 41px;
}

#info-input
{
	width: 70%;
}

fieldset.fieldset
{
	margin: 0px;
	padding: 10px;
	border-radius: 1em;
	border: 1px solid #AAAAAA;
}

fieldset.fieldset legend
{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}

#punish1
{
	display: block;
}

#punish2
{
	display: none;
}

#scoring1
{
	display: block;
}

#scoring2
{
	display: none;
}

#matrix-values
{
	width: 40px;
}

#matrix-type
{
	display: block;
}

#example-matrix
{
	display: none;
}

#custom-matrix
{
	display: block;
}

table#example-matrix1, td
{
	border: 1px solid black;
}

table#custom-matrix1, td
{
	border: 1px solid black;
}

#example-matrix1
{
	height: 60%;
	width: 80%;
	margin-left: 35%;
}

#custom-matrix1
{
	height: 40%;
	width: 60%;
	margin-left: 40%;
}

.matrix-cell
{
	border: 0;
	width: 16px;
	height: 14px;
	padding: 0;
}

.from-top
{
	background-image: url("../images/arrow_t.png");
	background-position: top left;
	background-repeat: no-repeat;
}

.from-left
{
	background-image: url("../images/arrow_l.png");
	background-position: top left;
	background-repeat: no-repeat;
}

.from-diagonal
{
	background-image: url("../images/arrow_tl.png");
	background-position: top left;
	background-repeat: no-repeat;
}

.to-complete-fields
{
	color: red;
}

.evenlinelog
{
	background-color: white;
}

.oddlinelog
{
	background-color: #f5f5f5;
}

/******************************************** overriden styles ******************************************/
.ui-content
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;
	border-radius: .4em;
}

.ui-page-theme-a .ui-btn
{
	background-color: lightblue;
}

.ui-page-theme-a .ui-btn:hover
{
	background-color: #449eca;/*rgb(0, 184, 29); */
}

.ui-select .ui-btn
{
	background-color: #f6f6f6;
}

.ui-select .ui-btn:hover
{
	background-color: #f0f0f0;
}

.ui-disabled
{
	opacity: .7;
}

.ui-grid-c > .ui-block-a, 
.ui-grid-c > .ui-block-c {
	width: 45%;
}

.ui-grid-c > .ui-block-b,
.ui-grid-c > .ui-block-d {
	width: 5%;
}

.ui-tabs .ui-tabs-nav li{
	background: lightblue;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	background: white;
}

.ui-field-contain{
	margin: .3em 0;
	width: 99%;
}

.ui-tabs .ui-tabs-panel{
	padding: .4em .6em
}

.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled{
	opacity: .8;
}

.ui-input-text{
	margin: 0 0;
}
.ui-select{
	margin-top: 0;
	margin-bottom: .3em;
}

.ui-mobile label{
	font-size: 14px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	font-size: 15px;
}

.ui-collapsible-content{
	padding: 0 .5em;
}

.ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid grey;
  }
.ui-tooltip {
	padding: 5px 10px;
	font: 11px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
	text-align: left;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}